body {
    background-color: rgba(28, 28, 48, 0.836);
}

h1#title {
    font-size: 50px;
    text-align: center;
}

div#container {
    color: #e6e2de;
}

div#border-radius {
    width: 200px;
    height: 200px;
    margin: auto auto;
    background: #f27500;
    background: -webkit-linear-gradient(to right, #e2f200, #f27500);
    background:         linear-gradient(to right, #e2f200, #f27500);
}

div#inputs {
    padding-top: 30px;
    width: 100px;
    margin: 0 auto;
    display: table;
}

.block-left {
    float: left; 
    width: 50%;
}

.block-right {
    margin-left: 110px;
}

input#btnCopy {
    margin-top: 20px;
}

div#boxes{
    display: table;
    margin: auto;
}

div#border-radius {
    float: left;
    width: 200px;
}

div#textCopy {
    margin-left: 100%;
}