body {
    background-color: rgba(28, 28, 48, 0.836);
}

h1#title {
    font-size: 50px;
    text-align: center;
    color: #e6e2de;
}

div#border-radius {
    
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: auto auto;
    background: #f27500;
    background: -webkit-linear-gradient(to right, #e2f200, #f27500);
    background:         linear-gradient(to right, #e2f200, #f27500);
}